@page "/"
@rendermode InteractiveServer
@using FileUploadForm.Abstractions
@using FileUploadForm.Models

@inject IBlobStorageService BlobStorageService

<PageTitle>File Upload</PageTitle>

    <InputText @bind-Value="Email"/>
    <InputFile OnChange="OnSelectedFile"  single/>
    <button type="submit" @onclick="UploadFile"> Upload</button>

@if(response != null)
{
    <p>@response.Status</p>
}

@code 
{
    ResponseDTO response;
    string Email;
    IBrowserFile attachment;
    string status;

    private async void OnSelectedFile(InputFileChangeEventArgs e)
    {
        status = e.File.Name;
        attachment = e.File;
    }

    private async Task UploadFile()
    {
       response = await BlobStorageService.Upload(attachment);
    }
}