@page "/"

@using FileUploadForm.Abstractions
@using FileUploadForm.Models

@inject IBlobStorageService BlobStorageService

<PageTitle>File Upload</PageTitle>
<form method="POST" @onsubmit="(e) => UploadFile((InputFileChangeEventArgs)e)">
    <InputFile />
    <button type="submit"> Upload</button>
</form>

@if(response != null)
{
    <p>@response.Status</p>
}else
{
    <p>No file uploaded</p>
}

@code 
{
    ResponseDTO response;

    private async void UploadFile(InputFileChangeEventArgs e)
    {
       response = await BlobStorageService.Upload(e.File);
    }
}